<style>
      #columns{
        column-width:350px;
        column-gap: 15px;
      }
      #columns figure{
        display: inline-block;
        border:1px solid rgba(0,0,0,0.2);
        margin:0;
        padding:10px;
        box-shadow: 1px 1px 2px rgba(0,0,0,0.5);
        width: 100%;
      }
      #columns figure img{
        height: 250px;
      }
      #columns figure figcaption{
        border-top:1px solid rgba(0,0,0,0.2);
        padding:10px;
        margin-top:11px;
      }
</style>
  <div class="loading">Loading&#8230;</div>
  <div class="navBar">
  <nav>
     <div class="nav-wrapper">
       <div class="col s12">
         <a href="#/list/0" class="breadcrumb">상황별 일본어 회화</a>
         <% _.each(result, function(model){ %>
         <a href="<%- model.get("categoryNum") %>" class="breadcrumb"><%- model.get("category")%></a>
       </div>
     </div>
  </nav>
  </div>
      <div id="columns">
        <div id="<%- model.get("id") %>" class="content">
          <a href="<%- model.get("url") %>">
            <figure>
              <img src="<%- model.get("imgSrc") %>">
              <figcaption><%- model.get("title") %></figcaption>
            </figure>
        </div>
      <% }); %>
      </div>
