<style>
   .mainTheme{
     width: inherit;
   }
   .word_test{
     font-weight: bold;
     margin: auto;
     display: none;
   }
   .blindword{
     color: #ffffff;
     margin: auto;
     display: block;
   }
   .circle{
     display: block;
	   margin: auto;
	   border-radius: 999px;
     background: #000000;
     -webkit-box-shadow: 0 -140px 20px -140px rgba(0,0,0,.3);
     text-align: center;
   }
</style>
<link rel="stylesheet" type="text/css" href="assets/css/slick-theme.css"/>
<link rel="stylesheet" type="text/css" href="assets/css/slick.css"/>
<link rel="stylesheet" type="text/css" href="assets/css/swipe.css"/>
<link rel="stylesheet" type="text/css" href="assets/css/mp3-player-button.css">
<div class="loading">Loading&#8230;</div>
<div class="sub-header">
  <div class="swipe-tabs">
    <div class="swipe-tab lime lighten-5">침실</div>
    <div class="swipe-tab lime lighten-4">부엌</div>
    <div class="swipe-tab lime lighten-3">책상</div>
    <div class="swipe-tab lime lighten-2">아침</div>
    <div class="swipe-tab lime lighten-1">청소</div>
    <div class="swipe-tab lime">목욕탕</div>
    <div class="swipe-tab lime accent-2">거실</div>
    <div class="swipe-tab lime accent-3">현관</div>
    <div class="swipe-tab lime accent-4">세탁기</div>
  </div>
</div>
<div class="main-container">
  <div class="swipe-tabs-container ">
<% _.each(categories, function(category, name){ %>
  <div class="swipe-tab-content">
    <div class="content">
      <% if (name == "bedroom") { %>
        <img src="assets/img/livingword_cover/bedroom.png" alt="침실표지" class="mainTheme">
      <% } if (name == "sink")  { %>
        <img src="assets/img/livingword_cover/sink.png" alt="싱크대표지" class="mainTheme">
      <% } if (name == "desk")  { %>
        <img src="assets/img/livingword_cover/desk.png" alt="책상표지" class="mainTheme">
      <% } if (name == "blackfast") {  %>
        <img src="assets/img/livingword_cover/blackfast.png" alt="아침표지" class="mainTheme">
      <% } if (name == "cleaning") { %>
        <img src="assets/img/livingword_cover/cleaning.png" alt="청소표지" class="mainTheme">
      <% } if (name == "bathroom") { %>
        <img src="assets/img/livingword_cover/bathroom.png" alt="목욕탕표지" class="mainTheme">
      <% } if (name == "livingroom") {  %>
        <img src="assets/img/livingword_cover/livingroom.png" alt="거실표지" class="mainTheme">
      <% } if (name == "entrance") { %>
        <img src="assets/img/livingword_cover/entrance.png" alt="현관표지" class="mainTheme">
      <% } if (name == "washingmachine") { %>
        <img src="assets/img/livingword_cover/washingmachine.png" alt="세탁기표지" class="mainTheme">
      <% } %>
      <div class="row">
      <% _.each(category, function(item, name){ %>
          <div class="col s4" id="rows">
            <p class="wordPlay">
            <a href="<%- item.audioSrc %>" id="<%- item.soundId%>" class="sm2_button" title="Play &quot;coins&quot;"></a>
            <%- item.wordNum %>
            </p>
            <div class="circle" id="<%- item.circleId %>">
              <p class="blindword" id="<%- item.blindwordId %>">단어확인</p>
              <p class="word_test" id="<%- item.wordtestId %>"><%- item.word %></p>
            </div>
          </div>
      <% }) %>
      </div>
    <div>
      <div class="btnLayer">
        <a class="privious_btn" id= "7" href="#/level">이전</a>
        <a class="back_btn" href="#/level">처음으로 돌아가기</a>
      </div>
    </div>
    </div>
    </div>
<% }) %>
</div>
</div>
<script src="lib/slick.min.js"></script>
<script src="assets/js/swipe.js"></script>
<script src="assets/js/soundmanager2.js"></script>
<script src="assets/js/mp3-player-button.js"></script>
