<style>
  .btnLayer{
    display: flex;
    height: 30px;
    position: relative;
    bottom: 0;
    left: 0;
    width: 100%;
    background: #f9f9f9 repeat-x;
    background-size: 3px auto;
    z-index: 1000;
    margin-top: 25px;
  }
  .btnLayer div{
    flex: 1;
    color: #111;
    text-align: center;
    background: #f1f8e9
  }
  .btnLayer a{
    position: fixed;
    width: 30px;
    height: 30px;
    margin: 0 auto;
  }
  .privious a{
    background: url(assets/img/privious.png) no-repeat 50% 50%;
    background-size: 30px;
  }
  .next a{
    background: url(assets/img/next.png) no-repeat 50% 50%;
    background-size: 30px;
  }
</style>
<link rel="stylesheet" type="text/css" href="assets/css/slick-theme.css"/>
<link rel="stylesheet" type="text/css" href="assets/css/slick.css"/>
<link rel="stylesheet" type="text/css" href="assets/css/swipe.css"/>
<link rel="stylesheet" type="text/css" href="assets/css/mp3-player-button.css">
<div class="loading">Loading&#8230;</div>
<div class="sub-header">
  <div class="swipe-tabs">
    <div class="swipe-tab lime lighten-5">침실</div>
    <div class="swipe-tab lime lighten-4">부엌</div>
    <div class="swipe-tab lime lighten-3">책상</div>
    <div class="swipe-tab lime lighten-2">아침</div>
    <div class="swipe-tab lime lighten-1">청소</div>
    <div class="swipe-tab lime">목욕탕</div>
    <div class="swipe-tab lime accent-2">거실</div>
    <div class="swipe-tab lime accent-3">현관</div>
    <div class="swipe-tab lime accent-4">세탁기</div>
  </div>
</div>
<div class="main-container">
  <div class="swipe-tabs-container ">
<% _.each(categories, function(category, name){ %>
  <div class="swipe-tab-content">
    <div class="slide_content">
      <% if (name == "bedroom") { %>
        <img src="assets/img/livingword_cover/bedroom.png" alt="침실표지" class="mainTheme">
      <% } if (name == "sink")  { %>
        <img src="assets/img/livingword_cover/sink.png" alt="싱크대표지" class="mainTheme">
      <% } if (name == "desk")  { %>
        <img src="assets/img/livingword_cover/desk.png" alt="책상표지" class="mainTheme">
      <% } if (name == "blackfast") {  %>
        <img src="assets/img/livingword_cover/blackfast.png" alt="아침표지" class="mainTheme">
      <% } if (name == "cleaning") { %>
        <img src="assets/img/livingword_cover/cleaning.png" alt="청소표지" class="mainTheme">
      <% } if (name == "bathroom") { %>
        <img src="assets/img/livingword_cover/bathroom.png" alt="목욕탕표지" class="mainTheme">
      <% } if (name == "livingroom") {  %>
        <img src="assets/img/livingword_cover/livingroom.png" alt="거실표지" class="mainTheme">
      <% } if (name == "entrance") { %>
        <img src="assets/img/livingword_cover/entrance.png" alt="현관표지" class="mainTheme">
      <% } if (name == "washingmachine") { %>
        <img src="assets/img/livingword_cover/washingmachine.png" alt="세탁기표지" class="mainTheme">
      <% } %>
      <div class="grid">
      <div class="grid-sizer"></div>
      <div class="gutter-sizer"></div>
      <div class="row">
      <% _.each(category, function(item, name){ %>
          <div class="grid-item" id="rows">
            <p class="wordPlay">
            <a href="<%- item.audioSrc %>" id="<%- item.soundId%>" class="sm2_button" title="Play &quot;coins&quot;"></a>
            <%- item.wordNum %>
            </p>
            <div class="circle" id="<%- item.circleId %>">
              <p class="blindword" id="<%- item.blindwordId %>">단어확인</p>
              <p class="word_test" id="<%- item.wordtestId %>"><%- item.word %></p>
            </div>
          </div>
      <% }) %>
      </div>
    </div>
    <div class="btnLayer">
      <div class="privious">
        <a id= "7" href="#/level"></a>
      </div>
      <div class="next"><a href="#/level"><em class="next_btn"></em></a></div>
    </div>
  </div>
</div>
<% }) %>
</div>
</div>
<div id="runScript">
  <script src="lib/jquery-3.1.1.min.js"></script>
  <script src="lib/slick.min.js"></script>
  <script src="assets/js/swipe.js"></script>
  <script src="assets/js/mp3-player-button.js"></script>
  <script src="assets/js/masonry.js"></script>
  <script src="assets/js/init.js"></script>
</div>
<script type="text/javascript">
  var div = document.getElementById('runScript');
  var arr = div.getElementsByTagName('script');
  for (var n = 0; n < arr.length; n++)
  eval(arr[n].innerHTML)//run script inside div
  eval(initGrid());
</script>
